*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(242, 242, 249);
}
.heading{

    background-size: auto;   
    background-image: url(Photos/pilot.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 80vh;
}
.navbar{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    display: flex;
    justify-content: flex-start;
    height: 125px;
    cursor: pointer;
}
.navbar ul{
    list-style: none;
    padding: 0;
}
.navbar ul li{
    display: inline-block;
    margin: 0 20px;
    list-style: none;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
/* me kap ni element te vetem */
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #4f95c4;
    position:  absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
/* body{
    font-family:Arial, Helvetica, sans-serif;
    padding: 30px;
}
 .foto{
    position: relative;
}
.foto img{
    width: 100%;
    height:auto; } */
 .about h1{
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 5px #4f95c4;
    color: white;
 }   
.about{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color:rgb(44, 43, 43);
   
}
.about h1{
    font-size: 71px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.story{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
   
}
.wrapper{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family:Georgia, 'Times New Roman', Times, serif,cursive;
}
.wrapper{
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
    background-color:  rgb(242, 242, 249);

}
.row{
	width: 100%;
	padding: 50px 60px;
	
}
.image{
	width: 40%;
	float: left;
}
.image img{
	width:80% ;
	margin-left: 80px;
    margin-top: 70px;
	height: auto;
}
.content{
	width: 50%;
	float: left;
	margin-left: 50px;
    margin-top: 70px;
}
.content h1{
	font-size: 80px;
	letter-spacing: 3.5px;
	margin-top: 15px;
	color: #22475f;

}
.content h2{
	font-size: 40px;
	font-family: sans-serif;
	color: #4f95c4;
	margin-top: 15px;
}
.content p{
	font-size: 20px;
	font-family:  garamond,serif;
	margin-top: 15px;
	line-height:1.5 ;

}
.vacation{
    margin-top: 40px; 
    position: relative;
    background-color: rgb(242, 242, 249);
}
.vacation img{
    width: 50%;
}
.text{
    position:absolute;
    top: 32%;
    width: 100%;
    color:#4f95c4;

    
   
}
.text h1{
    font-size: 74px;
    text-transform: uppercase;
    font-weight: bold;
  text-align:center;
  float:right;
  display: flex;
  justify-content: center;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
footer{
    width: 100%;
    position: absolute;
    background: rgba(17,62,83,255);
    color: #f7f6f1;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
}
.rreshti{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.kolona{
    flex-basis: 15%;
    padding: 5px;
}
.logo{
    width: 125px;
  
}

.kolona h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.id{
    width: fit-content;
    border-bottom: 1px solid #4f95c4;
    margin: 20px 0;
}
.kolona a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    margin-bottom: 50px;
}
form .fa{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #f7f6f1;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button {
    background: transparent;
    border: 0;
    outline: none;
    color: #f7f6f1;
    cursor: pointer;
}
.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media i{
    font-size: 32px;
}
.Copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 3px;
    background: #4f95c4;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}
/* pjesa e loginit */
.login{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
  

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.login{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color:#fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.login h1{
    font-size: 36px;
    text-align: center;
}
.login.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #3e4a87;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color:#fff;

}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.login .remeber-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remeber-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remeber-forgot a{
    color: #fff;
    text-decoration: none;
}
.remeber-forgot a:hover{
    text-decoration: underline;
}
.login .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px  #3e4a87;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.login .register-link{
    font-size: 14.5px;
    text-align: center;
    margin:20px 0 15px;

}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}


