*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------------------------------Homepage--------------------------------*/
body{
    background-color: #eae9e9;
}
.heading{
    background-image: url(Photos/pe.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 80vh;
}
.navbar{
    width: 100%;
    margin: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    display: flex;
    justify-content: flex-start;
    height: 125px;
    cursor: pointer;
}
.navbar ul{
    list-style: none;
    padding: 0;
}
.navbar ul li{
    display: inline-block;
    margin: 0 20px;
    list-style: none;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
/* me kap ni element te vetem */
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #4f95c4;
    position:  absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.paragrafi{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.paragrafi h1{
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 10px #4f95c4;
    color: #f7f6f1;
}
.paragrafi p{
    margin: 20px auto;
    font-weight: bolder;
    line-height: 30px;
    font-size: x-large;
}
.paragrafi button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: 600;
    font-size: larger;
    border: 2px solid #4f95c4;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #4f95c4;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.paragrafi button:hover span{
    width: 100%;
}
.paragrafi button:hover{
    border: none;
}
/*Foto*/
.destinacionet {
    padding: 100px 0;
}
.destinacionet h1{
    text-align: center;
    padding-bottom: 30px;
    font-size: 70px;
    color: #193441;
    text-shadow: 2px 2px #4f95c4;
}

.images .img{
    width: 100%;
}
.cmimi{
    width: 50px;
    height: 50px;
    background: #4f95c4;
    color: #fff;
    font-weight: 600;
    border-radius: 30%;
    box-shadow: 0 0 10px 1px #34698c;
    position: absolute;
    left: 20px;
    bottom:-25px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    position: relative;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}
.column .img{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
}
.container{
    width: 100%;
    margin-top: 10px;
}

.rating{
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position: absolute;
}
.destinacionet .fa{
    font-size: 15px;
    color: #4f95c4;
}
.detaje{
    width: 300px;
    flex-basis: 15%;
    padding: 5px;
}
.detaje h4{
    font-weight: 700;
    font-size: x-large;
    margin-top: 30px;
    color: #254c66;
}
.detaje .fa{
    margin-right: 5px;
}
.icona{
    display: flex;
    justify-content: space-around;
}
.box {
    box-shadow: 0 0 10px 1px #0a171f;
    margin-bottom: 30px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
.content2{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
	width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px 1px black;
}
.content2 p{
  width: 600px;
  font-size: x-large;
  line-height: 1.5;
}
.foto-2{
    display: flex;
    margin-right: 200px;
}
.foto-2 img{
    border: 2px solid #555;
}
.img1{
    position: absolute;
    margin-left: 200px;
    margin-top: 0;
}
.img2{

    position: relative;
    margin-top: 100px;
    z-index: 1;
}
.places{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px;
}
.rretha-foto{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #eae9e9;
}
.rretha-foto img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: grayscale(30%);
    transition: 0.5s;
    cursor: pointer;
}
.rretha-foto img:hover{
    transform: scale(1.3);
    filter: grayscale(0%);
}
.popular h1{
    text-align: center;
    font-size: 60px;
    margin-top: 150px;
    color: #193441;
    text-shadow: 2px 2px #4f95c4;
}




/*--------------------------------Footer--------------------------------*/
footer{
    width: 100%;
    position: absolute;
    background: #193441;
    color: #f7f6f1;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
}
.rreshti{
    width: 85%;
    margin: auto;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.kolona{
    flex-basis: 15%;
    padding: 5px;
    margin-top: 30px;
}
.logo{
    width: 125px;
  
}
.kolona h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.id{
    width: fit-content;
    border-bottom: 1px solid #4f95c4;
    margin: 20px 0;
}
.kolona a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
.form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid;
    margin-bottom: 50px;
}
.form .fa{
    font-size: 18px;
    margin-right: 10px;
}
.form i.fa-regular{
    margin-right: 15px;
}
.form input{
    width: 100%;
    background: transparent;
    color: #f7f6f1;
    border: 0;
    outline: none;
    cursor: pointer;
}
.form button {
    background: transparent;
    border: 0;
    outline: none;
    color: #f7f6f1;
    cursor: pointer;
}
.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media i{
    font-size: 32px;
}
.Copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 3px;
    background: #4f95c4;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}


/*--------------------------------About us--------------------------------*/
.heading2{
    
    background-size: auto;   
    background-image: url(Photos/pilot.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    
}

 .about h1{
    display: flex;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 5px #4f95c4;
    color: #f2f2f9 ;
    
 }
 
 .about{
    display: flex;
    flex-direction: column; 
   justify-content: center;
   align-content: center ;
   justify-items: start;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color:rgb(44, 43, 43); 
   
 }  

.about h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 71px; 
    text-transform: uppercase;
    font-weight: bold;
   
}

.story{
  
    font-size: 30px;
    font-weight: bold;
    text-align: center;
   
}
.wrapper{
  
	box-sizing: border-box;
}
.wrapper{
    display: flex;
    justify-content: space-between;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
    background-color:  #f2f2f9 ;

}
.ro{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
	width: 100%;
	
}
.image{
	width: 40%;
}
.image img{
	width:80% ;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:start;
	width: 50%;
	float: left;
	
}
.content h1{
    display: flex;
    flex-direction: row;
	font-size: 80px;
	letter-spacing: 3.5px;
	color: #22475f;

}
.content h2{
    display: flex;
    flex-direction: row;
  
	font-size: 40px;
	color: #4f95c4;
}
.content p{
    display: flex;
    flex-direction: row;
	font-size: 20px;
    line-height:1.5 ;

}


.Stafi{
   
    background-color: #f2f2f9;
}
.rreshtiS{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.rreshtiS h1{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 74px;
    color:#22475f;
    
} 


 .titulli p{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin: 30px 0px;
    color: #4f95c4;;
}
.staf-card{
    width: 100%;
    display: flex;
    grid-gap:100px;

}
.card{
    width:100%;
    background-color:#dee9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    cursor: pointer;  
   
}
.Stafi .kontenti .staf-card .card:hover{
    background-color:#f2f2f9 ;
    transition: 0.3s;
}


.pjesa-fotove img{
    height: 300px;
    width:300px;
    border-radius: 50%;
    border: 6px solid #262f3d;

}

  .contenti-tjeter h3{
    font-size:27px ; 
   letter-spacing: 1.5px;
   color: rgb(90, 71, 71);
 } 
  .contenti-tjeter h4{
    font-size: 17px;
    letter-spacing: 1.5px;
    color: rgb(111, 122, 172);

}
.contenti-tjeter p{
    font-size: 15px;
   line-height: 1.5;
    color:#22475f;

}



.vacation{
 
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    background-color: #f2f2f9;
    margin-bottom: 50px;
}
.vacation img{

  width: 30%;
  margin-right: 15%;
}
.text{
    
    display: flex;
    justify-content: center;
  
   
    width: 70%;
    color:#4f95c4;
}
.text h1{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 74px;
    text-transform: uppercase;
    font-weight: bold;
    
}
/*---------------------------------Flights--------------------------------*/

.body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(Photos/back.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.booking-form-box fieldset{
    width: 80%;
    margin: 5% auto 0;
    padding:  20px;
    font-size: x-large;
    color: rgb(242, 242, 249);
    border: 3px solid rgb(242, 242, 249);
}
.booking-form{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    position: relative;
    margin-top: 70px;
}
.in input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(242, 242, 249);
    border-radius: 15px;
    font-size: 16px;
    color: rgb(242, 242, 249);
    padding: 20px 45px 20px 20px;
}
.radio{
    margin: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.radio .book{
    box-shadow: none;
}
.radio .book::after{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: #1a3649;
    position: relative;
    display: inline-block;
    border: 3px solid rgb(242, 242, 249);
    visibility: visible;
    border-radius: 50%;
}
.radio .book:checked:after{
    content: '';
    background-color: #4f95c4;
    transition: 0.5s;
}
.radio .book p{
    color: rgb(242, 242, 249);
    margin-right: 5px;
    font-size: 13px;
}

.booking-form input{
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 16px;
    color: rgb(242, 242, 249);
    padding: 20px 45px 20px 20px;
    border: 2px solid rgb(242, 242, 249);
}
.booking-form input:hover{
    border: 4px solid rgb(242, 242, 249);
}
.pjeset{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    padding-bottom: 30px;
    gap: 70px;
}
.pjeset label{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: text;
    padding-bottom: 70px;
}
.booking-form label{
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(242, 242, 249);
}
.booking-form input::placeholder{
    color: rgb(242, 242, 249) ;
}
.input{
   width: 50%;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   padding-bottom: 30px;
}

.form-control{
    font-size: 12px;
    border-radius: 0;
    color: rgb(242, 242, 249);
    background: transparent;
    box-shadow: none;
}
.cosutum-select{
    width: 100%;
    height: 100%;
    color: rgb(242, 242, 249);
    font-size: 15px;
    border: 2px solid rgb(242, 242, 249);
    box-shadow: none;
    background: transparent;
    padding: 20px 45px 20px 20px;
}
.cosutum-select option{
    color: #22475f;
}
.button{
    width: 100% ;
    color: rgb(242, 242, 249);
    font-size: 20px ;
    border: 3px solid rgb(242, 242, 249);
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 20px 45px 20px 20px;
}
.button:hover{
    background: #22475f;
    color: rgb(242, 242, 249);
    transition: 0.5s;
}

/*--------------------------------Log in--------------------------------*/

.trupi{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#012f49,#1e4041);
    /* background-image:url(Photos/bg.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.log{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color:#fff;
    border-radius: 10px;
    padding: 50px 70px;
}
.log h1{
    font-size: 50px;
    text-align: center;
}
.emri-mbiemri{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.emri-mbiemri input{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #dee9fa;
    border-radius: 40px; 
     font-size: 16px;
    /* color: #fff; */
    padding: 20px 45px 20px 20px;
}
.emri-mbiemri input::placeholder{
    color:#fff;

}
.emri-mbiemri i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
 .remeber{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: -15px 0 15px;
}
.remeber label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remeber a{
    color: #fff;
    text-decoration: none;
}
.remeber a:hover{
    text-decoration: underline;
}
 .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px  #193441;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
 .register{
    font-size: 17px;
    text-align: center;
    margin:20px 0 15px;

}
.register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
/* ------------------------------------------ SIGN UP----------------------------------------------- */
.body-sign{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#012f49,#1e4041);
    /* background-image:url(Photos/bg.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}
.signU{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: transparent;
    border: 2px solid white;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 10px 30px;
}
.forma-Sign{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%; 
}

.forma-Sign h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.sg{
    border: 2px solid white;
    margin: 15px ;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-radius: 5px;

}
.sg input{
   
    display: flex;
    flex-direction: row;
    color: #0a171f;  
    background: transparent;
    border: none;
    outline: none;
     font-size: 18px;  
     border-radius: 5px;
     padding: 10px; 
}
.sg input::placeholder {
    color: #0a171f; 
}
.sg i{ 
    position: absolute;
    right: 20px;
    font-size: 20px;
    color: #fff;  
}


 .butoni-Sign{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 

}
.butoni-Sign button{
    text-align: center;
    
    background-color:#262f3d;
    color:#fff ;
    height: 36px;
    border-radius: 20px;
    border: 0;
    width: 150px;
    outline: 0;
    cursor: pointer;
}

.SI{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 400px;
    color: #fff;  


}
.Click{
    text-align: center;
    margin-bottom: 10px;
    font-style: none;

}
.Click a{
    color:#193441;
}
/* 
----------------------------------Hotel----------------------------------- */
.slides{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.slideshow{
    flex: 0 0 50%;
    box-sizing: border-box;
}
.slideshow img{
    max-width: 100%;
    height: 100vh;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.previous {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.previous:hover, .next:hover{
    background-color: #0a171f;
}
.texts{
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  