*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 768px){
.paragrafi h1 {
    font-size: 6vw;
}
}
@media screen and (max-width: 1200px) {
    .paragrafi h1 {
        font-size: 5vw;
    }

    .pershkrimi {
        font-size: 2vw;
    }

    .Foto {
        margin: 5% 1%;
    }

    .logos {
        width: 100%;
        max-width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .paragrafi h1 {
        font-size: 6vw;
    }

    .pershkrimi {
        font-size: 2.5vw;
    }

    .Foto {
        margin: 5% 0;
    }

    .logos {
        width: 100%;
        max-width: 150px;
    }
} 
/* @media only screen and (max-width: 600px) {
    header, footer {
        font-size: 14px;
    }

    main {
        padding: 10px;
    }

} */

header{
    background-image: url(co.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    backdrop-filter: blur(5px);

    height: 400px;
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: bold;

}
ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    font-size: larger;
    text-decoration-line: underline;
    opacity: 0.4;

}
.Logo{
    display: flex;
    justify-content: left;
    height: 125px;
}

.paragrafi h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    opacity: 0.3;
    font-family: 'Brush Script MT', cursive;


}
.paragrafi{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: space-around;
  
}
.pershkrimi{
    font-size: 1.5vw;
    font-family: 'Times New Roman', Times, serif;

}
.Foto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5% 10%;
    gap: 20px;
}
.travelPhotos{
    background-color: white;
    border-radius: 15px;

}
.Pershkrimi{
    text-align: center;
}
.footer{
    margin-top: 20px;
    background-color: transparent ;
    display: flex;
    justify-content: space-evenly;
    padding: 2% 5%;
    flex-direction: row;
    background-color:rgba(16,32,53,255);
    
}
.h2{
    color: #a2a3a3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footermain{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}
.Adresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.logos{
    width: 100px;
    max-width: 250px;
}
.Referenca{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}