*{
    margin: 0;
    padding: 0;
}


.heading{
    background-image: url(mountain-4810958_1280.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;

}
ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    list-style: none;
    font-size: larger;
    text-decoration-line: underline;

}
.Logo{
    display: flex;
    justify-content: left;
    height: 125px;
}

/* .paragrafi h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    opacity: 0.3;
    font-family: 'Brush Script MT', cursive;


}
.paragrafi{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: space-around;
  
}
.pershkrimi{
    font-size: 1.5vw;
    font-family: 'Times New Roman', Times, serif;

} */
.Foto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5% 10%;
    gap: 20px;
}
.travelPhotos{
    background-color: white;
    border-radius: 15px;

}
.Pershkrimi{
    text-align: center;
}
.footer{
    height: 200px;
	margin: 0px;
	background-color: rgb(194,195,195);
    color: white;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    padding: 15px;
}
.h2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.footermain{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.Adresa{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.Kontakti{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    
}
.logos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Referenca{
    width: 100%;
	display: flex;
    justify-content: center;
}
