
* {
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  .navbar {
    background-color: black;
    box-shadow: 0px 2px 5px rgb(6, 113, 77);
  }
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
    text-decoration: none;
    color:  rgb(6, 113, 77);
  }
  .container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
  }
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: white;
  }
  form {
    background-color:  rgb(6, 113, 77);
    border: 1px solid rgb(59, 58, 58);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
  }
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  input[type="text"], input[type="email"], input[type="password"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(59, 58, 58);
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  
  input[type="number"]:focus {
    border-color:  rgb(6, 113, 77);;
    box-shadow: 0 0 6px  rgb(6, 113, 77);
  }

  button[type="submit"] {
    background-color: rgb(44, 43, 43);
    color: rgb(6, 113, 77);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color:rgb(44, 43, 43);
    color: rgb(6, 113, 77);
    
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
    color: rgb(255, 236, 217);
  }
  th {
    background-color: rgb(44, 43, 43);
    color: rgb(6, 113, 77);
  }
  tr:nth-child(even) {
    background-color: rgb(6, 113, 77);
  }
  a.btn {
    margin-right: 10px;
    text-decoration: none;
    font-weight: bolder;
  }
  .btn1{
    color: #F55050;

  }

  .btn2{
    color: white;

  }

  #selektimi {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid rgb(6, 113, 77);
    border-radius: 0.25em;
    background-color: white;
    color: #444;
  }
  
  #selektimi:focus {
    outline: none;
    border-color: rgb(245, 219, 202);
    box-shadow: 0 0 0 2px rgb(0, 0, 0)
  }

  

